.app {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav {
  background-color: cyan;
  display: flex;
  height: 5%;
}

.navul {
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style-type: none;
}

.navli {
  font-weight: 800;
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.navli:hover {
  color: gold;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.img_content {
  width: 100px;
  height: 100px
}

/* Form Login */
.container {
  border-radius: 15px
}

@media(min-width:992px) {
  img {
    width: 500px;
    height: 500px
  }

  #circle {
    border: 10px solid rgba(255, 0, 234, 0.945);
    border-radius: 50%;
    position: absolute;
    height: 50px;
    width: 50px;
    left: 290px;
    top: -25px
  }

  .container {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255) 80%, rgb(242, 242, 253), rgb(164, 164, 235))
  }
}

@media(max-width:991px) {
  img {
    display: none
  }

  .container {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255) 80%, rgb(242, 242, 253), rgb(164, 164, 235))
  }
}

@media(max-width:768px) {
  img {
    display: none
  }
}

@media(max-width:567px) {
  img {
    display: none
  }

  .container {
    margin-left: 0px;
    margin-top: 30px
  }

  #circle {
    border: 10px solid rgba(255, 0, 234, 0.945);
    border-radius: 50%;
    position: absolute;
    height: 50px;
    width: 50px;
    left: 202px;
    top: -29px
  }
}

/*  */

.left1 {
  position: absolute;
  left: 400px;
  top: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.formgroup {
  display: flex;
  justify-content: space-between;
  width: 450px;
  gap: 30px;
}

.formgroup2 {
  display: flex;
  justify-content: space-between;
  width: 450px;
  gap: 37px;
}


#submit {
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
  left: 100px;

  /* background-color: yellow; */
}

.inputLogin {
  width: 450px;
  height: 40px;
  gap: 10px;
  background-color: #89DDCE;
  border-radius: 10px;
}

.labelLogin {
  font-size: 20px;
}